<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='artists.css') }}">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<h2>Edit Project</h2>

<div class="form_space">
  <form action= "{{url_for('editProject', artist_id=artist_id, project_id=project_id)}}" method = 'POST'>

    <p>Title:</p>
    <input type='text' size='30' name='title' placeholder='{{project.title}}'>

    <p>Description:</p>
    <input type='text' maxlength="250" rows="3" name='description' placeholder='{{project.description}}'>


    <p>Image:</p>
    <input type='text' size='30' name='imageUrl' placeholder= '{{project.imageUrl}}'>


  <button type='submit' value='Edit' class="submit"></button>
  </form>
  <a href="{{url_for('showProjects', artist_id=artist_id)}}"><button type="button" name="button" class="cancel">Cancel</button></a>
</div>

<footer>
  <p> coded with <i class="em em-black_heart"></i> by afopefoluwa</p>
</footer>
