
<h1> New Artist </h1>

<form action="#" method="POST">

<p>Name:</p>

<input type='text' size='30' name='name'>

<p>Bio:</p>
<input type='text' size='30' name='bio'>


<p>Country:</p>
<input type='text' size='30' name='country'>


<p>What kind of artist are you?</p>
<select type='text' name='category'>
  <option value="volvo">Photographer</option>
  <option value="saab">Painter</option>
  <option value="mercedes">Visual Artist</option>
  <option value="audi">Multi-media Artist</option>
  <option value="audi">Writer</option>
  <option value="audi">Performance Artist</option>
  <option value="audi">Dancer</option>
  <option value="audi">Musician</option>
</select>



<p>Profile image:</p>
<input type='text' size='30' name='imageUrl'>
</br>
</br>

<input type='submit' value='Create'>

</form>
<a href="{{url_for('showArtists', artist_id=artist_id)}}">Cancel</a>
</body>
