<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='artists.css') }}">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>


  <body>
    <header>
      <h1>Artists</h1>
      <ul class="main-nav">
        <li><a href="{{url_for('newArtist')}}" class="rotate-two">ADD ARTIST</a></li>
                  {%if 'username' not in session %}
        <li><a href="{{url_for('showLogin')}}" class="rotate-one">LOGIN</a></li>
                    {% else %}
        <li><a href="{{url_for('disconnect')}}">LOGOUT</a></li>
        {% endif %}
      </ul>
    </header>


    <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

    </div>

    {% for a in artists %}
    <!--Griglia alternata testo e immagine, resposive con flexbox.-->
    <section class="artist_info">
      <div class="grid-flex">
        <div class="col col-image" style="background:url({{a.imageUrl}}); background-size:cover;"></div>
        <div class="col col-text">
          <div class="Aligner-item">
            <p class="artist_name"><a href="{{url_for('showProjects', artist_id=a.id)}}" class="no-underline">{{a.name}}</a></p>
            <p class="artist_category">{{a.category}}, {{a.country}}</p>
            <p class="artist_country"></p>
            <p class="artist_bio">{{a.bio}}</p>
            <ul class="buttons">
            </ul>
          </div>
        </div>
      </div>
    </section>

  {% endfor %}

  </body>

  <footer>
    <p> coded with <i class="em em-black_heart"></i> by afopefoluwa</p>
  </footer>
